<div class="container">
    <div class="filtros">
        <select class="form-select mt-4 mb-4 border-warning" (change)="onChange($event)">
            <option value="todas">Categorias</option>
            <option value="cine">Cine</option>
            <option value="series">Series</option>
            <option value="musica">Música</option>

        </select>
    </div>


    <div class="posts ">
        @for (post of arrPost; track post.id) {
        <div class="post row p-4">
            <article class="col-12 col-lg-4 ">

                <img [src]="post.imagen" alt="" />

            </article>
            <div class="col-12 col-lg-8 text-warning mb-4 p-4">
                <h2>{{ post.titulo }}</h2>

                <h4>Categoría: {{ post.categoria }}</h4>
                <h6>Autor: {{ post.autor }}</h6>
                <hr>
                <p class="text-white"> {{ post.texto }}</p>


            </div>
        </div>
        }
    </div>
</div>